*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) */

header{
    height: 80px;
    max-width: 100vw;
}

.debug{
    background-color: aquamarine;
    border: 2px dashed red;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#header-logo{
    width: 15vw;
}

#header-logo img{
    max-height: 50px;
    max-width: 50px;
}

#head-searchbar{
    max-height: 50px;
    width: 70vw;
    background-color: #e5e5e5;
}

#head-searchbar input {
    width: 100%;
    background-color: #e5e5e5;
    border: none;
}

#head-searchbar i{
    font-size: large ;
    text-align: center;
    line-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#bell-menu{
    width: 15vw;
}

#bell-menu i{
    color: #ff8f01;
    font-size: large;
}

#left-sidebar{
    color: white;
    background-color: #051d34;
    width: 15%;
    height: 100vh;
    padding-top: 80px;
}

#student-section{
    background-color: #1d72e8;
    color: white;
    width: 85vw;
    height: fit-content;
}

.badge{
    background-color: hsla(0, 0%, 0%, 0.180);
}